/* app css stylesheet */

body {
  padding-top: 20px;
}

.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}



img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.phone:first-child {
  display: block;
  }

.phone-thumbs  {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
}
.phone-thumbs li img {
    cursor: pointer;
    width: 7em;
    height: 5em;
    margin: 10px;
}